{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if messages %}
<ul class="messages">
  {% for msg in messages %}
    <li class="{{msg.tags}}">{{ msg }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if latest_question_list %}
    <table>
        <tr>
            <th>Question</th>
            <th>Vote</th>
            <th>Result</th>
        </tr>
    {% for question in latest_question_list %}
        {% if question.is_published %}
            <tr>
                <td>{{ question.question_text }}</td>
                {% if question.can_vote %}
                    <td><a href="{% url 'polls:detail' question.id %}">Vote</a></td>
                {% else %}
                    <td>Not Avialable</td>
                {% endif %}
                <td><a href="{% url 'polls:results' question.id %}">Results</a></td>
            </tr>
        {% endif %}
    {% endfor %}
        </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}